{% extends 'portfolio/navbar.html' %}
{% block content %}
    <div class="container-fluid p-0">

            <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
            <div class="my-auto">
                <h1 class="mb-0">Konrad
                <span class="text-primary">Flejter</span>
                </h1>
                <div class="subheading mb-5">Plac Wojska Polskiego 19 · 62-700, Turek · +48 531-090-511 ·
                <a href="mailto:name@email.com">konrad.flejter@gmail.com</a>
                </div>
                <p class="lead mb-5">I graduated from an IT technical college, but after graduation, fate wanted me not to work in the IT, so I started learning programming in Python long after graduating from school. I am currently dealing with the website of the company which I work, it gives me a lot of satisfaction.<br>
							 Maybe in the future I become as junior developer.</p>
                <div class="social-icons">
          <a href="https://www.linkedin.com/in/konrad-flejter/">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/konfle">
            <i class="fab fa-github"></i>
          </a>
        </div>
            </div>
            </section>
    </div>
{% endblock%}