{% extends 'portfolio/navbar.html' %}
{% block  content %}
<hr class="m-0">
<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="Certification">
      <div class="w-100">
        <h2 class="mb-5">Certifications</h2>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fas fa-certificate"></i>
            IT technician</li>
          <li>
            <i class="fas fa-certificate"></i>
            Python for beginners (Udemy.com)</li>
          <li>
            <i class="fas fa-certificate"></i>
            HTML5 and CSS3 Fundamentals (Udemy.com)</li>
        </ul>
      </div>
</section>
{% endblock %}