{% extends 'portfolio/navbar.html' %}
{% block  content %}
<hr class="m-0">
        <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Specialist for Customer Servie</h3>
            <div class="subheading mb-3">Drewtur L.T.M. Sp. Jawna</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">October 2019 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Office worker - international freight forwarder</h3>
            <div class="subheading mb-3">P.T.U.H. Stasiak Grzegorz</div>-
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">September 2018 - September 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Office worker - international freight forwarder</h3>
            <div class="subheading mb-3">RS AUTO s.c.</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">April 2018 - August 2018</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Roofer assistant</h3>
            <div class="subheading mb-3">GfB Pinneberg GmbH</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">September 2014 - April 2018</span>
          </div>
        </div>
		
		<div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Junior cutter</h3>
            <div class="subheading mb-3">Sun Garden Polska Sp. z o. o.</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">September 2014 - April 2018</span>
          </div>
        </div>
      </div>
    </section>
{% endblock %}