{% extends 'portfolio/navbar.html' %}
{% block  content %}
<hr class="m-0">
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="languages">
      <div class="w-100">
        <h2 class="mb-5">languages</h2>
        <ul class="fa-ul mb-0">
          <li>
            <i class="pl flag"></i>
            Polish - native</li>
          <li>
            <i class="gb uk flag"></i>
            English - pre-intermediate</li>
          <li>
            <i class="de flag"></i>
            German - pre-intermediate</li>
        </ul>
      </div>
    </section>
{% endblock %}